.APIKings-st-overlay {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.6;
    filter: alpha(opacity=50);
    display: none;
}

.APIKings-st-modal-container {
    width: 100%;
    display: block;
    top: 20px;
    position: fixed;
    z-index: 101;
    display: none;
}

.APIKings-st-modal {
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
    background-color: #ededed;
    padding: 15px;
}

    .APIKings-st-modal > .heading {
        font-size: 200%;
        font-weight: bold;
        border-bottom: 1px solid #d73814;
    }

    .APIKings-st-modal > .body {
        padding: 20px;
    }

    .APIKings-st-modal > .footer {
        overflow: auto;
    }

        .APIKings-st-modal > .footer > button {
            margin: 5px;
            border: none;
            padding: 5px 15px;
            color: rgba(0,0,0,0.7);
            text-transform: uppercase;
            font-weight: bold;
            background-color: #dddddd;
            float: right;
            transition: 0.3s;
        }

#APIKings-st-progress-bar-container {
    width: 100%;
    min-height: 3px;
    background-color: #a6c1e9;
    position: fixed;
    bottom: 0px;
    overflow: visible;
}

    #APIKings-st-progress-bar-container > #APIKings-st-progress-bar {
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #691203;
        display: block;
        position: fixed;
    }
